<!DOCTYPE html>
<html>
<head>

<title>Worker Login</title>
<meta name="description" content="Samaritan House">
<meta name="keywords" content="Samaritan House">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>

<body>
<div class="wrapper white">
 <div class="header">
  <div class="header-navigation">
   <div class="container">
    <div class="row">
     <div class="col-md-3">
      <div class="logo">
        <h1>Samaritan <i class="fa fa-home"></i></h1>
      </div>
     </div>
    </div>
   </div>
</div>

<br/>
<br/>
<br/>


<div class="employee">
    <h1>Register</h1><br>
  <form style="margin-left:10%;">
  <input type="text" id="userid" placeholder="Username" size="65">
    <br/>
    <br/>
    <input type="password" id="password" placeholder="Password" size="65">
    <br/>
    <br/>
    <input type="password" id="repassword" placeholder="Re-enter Password" size="65">
    <br/>
    <br/>
    <input type="text" id="fname" placeholder="First Name">
    <input type="text" id="mname" placeholder="Middle Name">
    <input type="text" id="lname" placeholder="Last Name">
    <br/>
    <br/>
    <input type="text" id="company" placeholder="Company Name" size="65">
    <br/>
    <br/>
        
    <input type="text" id="address" placeholder="Address #1" size="32">
    <input type="text" id="address1" placeholder="Address #2" size="31">
    <br/>
    <br/>
    <input type="text" id="city" placeholder="City">
    <input type="text" id="state" placeholder="State">
    <input type="text" id="zip" placeholder="Zip">
    <br/>
    <br/>
    <input type="tel" id="phone" placeholder="Phone" size="65">
    <br/>
    <br/>
    <input type="email" id="email" placeholder="Email" size="65">
    <br/>
    <br/>
    <input type="text" id="dlid" required pattern="^d{3}-d{2}-d{4}$" placeholder="###-##-####" size="65"/>
<br/>
<br/>
    <input type="submit" name="employee" class="employeebutton employee-submit" value="Register">
  </form>

</div>


		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/html5shiv.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>
