<!DOCTYPE html>
<html>
	<head>
		
<title>Samaritan House</title>
<meta name="description" content="Samaritan House">
<meta name="keywords" content="Samaritan House">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

</head>
	<body>

	<div class="wrapper white">
 <div class="header">
  <div class="header-navigation">
   <div class="container">
    <div class="row">
     <div class="col-md-3">
      <div class="logo">
        <h1>Samaritan <i class="fa fa-home"></i></h1>
        <h3 style="margin-left:20%;">Welcome Google!!</h3>
								</div>
							</div>
							<div class="col-md-9">
								<!-- Bootstrap Navbar -->
								<nav class="navbar navbar-default" role="navigation">
									<!-- Brand and toggle get grouped for better mobile display -->
									<div class="navbar-header">
										<button type="button" class="navbar-toggle br-orange" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<!-- Collect the nav links, forms, and other content for toggling -->
									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav navbar-right">
											<li>
												<a href="index.html" class="br-orange">
													<!-- Link Icon -->
													<i class="fa fa-home link-icon"></i>
													<!-- Link Title -->
													<span class="link-title">Home</span>
												</a>
											</li>
											<li class="dropdown">
												<a href="settings.html" class="dropdown-toggle br-pink"  data-toggle="dropdown">
													<!-- Link Icon -->
													<i class="fa fa-cogs"></i>
													<!-- Link Title -->
													<span class="link-title">Settings<b class="fa fa-angle-down"></b></span>
												</a>
												<ul class="dropdown-menu dropdown-default">
													<li><a href="preferences.html"><i class="fa fa-cog fa-spin dd-link-icon lblue"></i> Preferences</a></li>
													<li><a href="userprofile.html"><i class="fa fa-user fa-pulse dd-link-icon lred"></i> Update Profile</a></li>
													<li><a href="resetpw.html"><i class="fa fa-pencil fa-fw dd-link-icon lyellow"></i> Change Password</a></li>
													<li><a href="resetpw.html"><i class="fa fa-sign-out fa-fw dd-link-icon lyellow"></i> Logout</a></li>

												</ul>
											</li>


											<li>
												<a href="contact.html" class="br-yellow">
													<!-- Link Icon -->
													<i class="fa fa-phone link-icon"></i>
													<!-- Link Title -->
													<span class="link-title">Contact</span>
												</a>
											</li>
										</ul>
									</div><!-- /.navbar-collapse -->
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Header End -->


				<!-- Inner Page Content // Start -->
<br/>
<br/>
			<div class="inner-page">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<!-- Inner Page Content Sidebar -->
							<div class="page-sidebar">
								<!-- Page Title -->
								<div class="page-title br-blue">
									<h2>Samaritan<i class="fa fa-home"></i></h2>
<p> Samaritan House has grown to become San Mateo Countys leading non-profit that brings a new level of hope, dignity, and empowerment to people living in poverty as they fulfill immediate needs and guide people to self reliance.</p>
								</div>
								<!-- Sidebar Links -->
								<div class="sidebar-link col-disable">
									<!-- Search Box -->
									<div class="search">
										<form>
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Text to search">
												<span class="input-group-btn">
													<button class="btn" type="button"><i class="fa fa-search"></i></button>
												</span>
											</div>
										</form>
									</div>
									<ul class="list-unstyled">
										<li><a href="index.html" class="animated">Home <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="settings.html" class="animated">Settings <i class="fa fa-angle-double-right"></i></a></li>
										<li><a href="contact.html" class="animated">Contact Us<i class="fa fa-angle-double-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Main-bar Column -->
						<div class="col-md-9">
							<div class="page-mainbar pricing">
								<!-- Heading -->

								<!-- Heading -->
								<h3>Hire Now!</h3>
								<!-- Other Plans Item -->
								<div class="row">
									<div class="col-md-3 col-sm-6">
										<div class="p-plan-item br-pink animated">
											<!-- Heading -->
											<h3>Add a job</h3>
											<div class="clearfix"></div>
											<!-- Plan List -->
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-6">
<button type="button" class="btn btn-black btn-circle" data-toggle="modal" data-target="#myModal">Add a Job<i class="fa fa-plus"></i></button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:400px;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Job Post</h4>
      </div>
      <div class="modal-body">
  <form style="margin-left:10%;">
  <input type="text" id="jtitle" placeholder="Job Title" size="40">
    <br/>
    <br/>
    <input type="text" id="description" placeholder="Description" size="40">
<br/>
<br/>
<input type="text" id="location" placeholder="Work Site Location" size="40">
<br/>
<br/>
<input type="datetime" id="sdate" placeholder="Start Date" size="40">
<br/>
<br/>
<input type="text" id="hours" placeholder="Estimated Hours" size="40">
<br/>
<br/>
<select>
  <option value="">Skills</option>
  <option value="plumbing">Plumbing</option>
  <option value="gardening">Gardening</option>
  <option value="carpenting">Carpenting</option>
</select>

<br/>
<br/>
<input type="text" id="number" placeholder="Number of Workers" size="40">
<br/>
<br/>
<input type="text" id="payrate" placeholder="Pay Rate" size="40">
<br/>
<br/>5
    <input type="submit" name="employee" class="employeebutton employee-submit" value="Sign In" style="margin-left:20%; width:100px;">
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

											</div>
											<!-- Button -->
										</div>
									</div>
								</div>
									<div class="col-md-9 col-sm-12">
							<!-- Box Outer Layer [ Box 3 ] -->
							<div class="box box-lg br-green animated">
<h1 style="margin-left:10%">Job List</h1>
<p></p>
<p></p>
								</div>
							</div>
											<!-- Button -->
										</div>
									
							
						</div>
					</div>
				</div>
			</div>



		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
		<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
		<!-- Masonry JS -->
		<script src="js/masonry.pkgd.min.js"></script>
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<!-- Cycle JS -->
		<script type="text/javascript" src="js/jquery.cycle.all.js"></script>
		<!-- jQuery flot -->
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
		<script src="js/jquery.flot.min.js"></script>
		<script src="js/jquery.flot.resize.min.js"></script>
		<!-- Count To JS  -->
		<script src="js/jquery.countTo.js"></script>
		<!-- jQuery way points -->
		<script src="js/waypoints.min.js"></script>
		<!-- jQuery prettyPhoto & Isotope -->
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/isotope.js"></script>
		<!-- Jquery for Countdown  -->
		<script type="text/javascript" src="js/jquery.countdown.min.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="js/custom.js"></script>
		<!-- This Page JavaScript -->
	</body>
</html>