<!DOCTYPE html>
<html>
<head>

<title>WRC Application Login</title>
<meta name="description" content="Samaritan House">
<meta name="keywords" content="Samaritan House">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

</head>

<body>
<div class="wrapper white">
 <div class="header">
  <div class="header-navigation">
   <div class="container">
    <div class="row">
     <div class="col-md-4">
      <div class="logo">
        <h1><i class="fa fa-home"> Samaritan House</i></h1>
      </div>
     </div>
    </div>
   </div>
</div>

<br/>
<br/>
<br/>


<div class="employee">
  <h1 class="h1RegTitle"><b>Login to the WRC</b></h1><br>
  <form style="margin-left:10%;">
  <input type="text" id="userid" placeholder="Username" size="65">
    <br/>
    <br/>
    <input type="password" id="password" placeholder="Password" size="65">
<br/>
<br/>
    <input type="submit" name="employee" class="employeebutton employee-submit" value="Sign In">
  </form>

</div>


		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/waypoints.min.js"></script>
		<script src="js/respond.min.js"></script>
		<script src="js/html5shiv.js"></script>
		<script src="js/custom.js"></script>
	</body>
</html>
